<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Unity - Cadastro</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="public/cadastro-usuario/css/util.css">
        <link rel="stylesheet" type="text/css" href="public/cadastro-usuario/css/main.css">
        <link rel="stylesheet" type="text/css" href="script/material-design-iconic-font/dist/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" type="text/css" href="script/font-awesome/css/font-awesome.min.css"
    </head>
    <body style="background-color: #999999;">
        
        <div class="limiter">
            <div class="container-login100">
                <div class="login100-more" style="background-image: url('public/cadastro-usuario/imagens/fundo.jpg');"></div>

                <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
                    <form class="login100-form validate-form">
                        <span class="login100-form-title p-b-59"> Cadastre-se </span>

                        <div class="wrap-input100 validate-input" id="campo-nome" data-validate="Nome é obrigatório">
                            <span class="label-input100" >Nome completo:</span>
                            <input class="input100" type="text" id="nome-usuario" name="name" placeholder="Nome...">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input" id="campo-email" data-validate ="Digite um e-mail válido.">
                            <span class="label-input100" >Email:</span>
                            <input class="input100" type="text" id="email-usuario" name="email" placeholder="Endereço de email...">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input" id="campo-senha" data-validate = "Senha é obrigatória">
                            <span class="label-input100">Senha:</span>
                            <input class="input100" type="text" id="senha-usuario" name="pass" placeholder="*************">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input" id="campo-repeticao-senha" data-validate = "Repetir a senha é obrigatório">
                            <span class="label-input100">Repita a senha:</span>
                            <input class="input100" type="text" id="senha-repeticao-usuario" name="repeat-pass" placeholder="*************">
                            <span class="focus-input100"></span>
                        </div>
                        
                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button type="button" class="login100-form-btn" onclick="CadastrarUsuario()">
                                    Cadastrar
                                </button>
                            </div>

                            <a href="login" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                                Logar
                                <i class="fa fa-long-arrow-right m-l-5"></i>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="script/jquery/dist/jquery.min.js"></script>
        <script src="public/requisicao.js"></script>
        <script src="public/cadastro-usuario/js/main.js"></script>

        <script>
            function CadastrarUsuario()
            {
                var campos = ["#campo-senha", "#campo-nome", "#campo-email", "#campo-repeticao-senha"]

                if (PreenchimentoValido(campos))
                {
                    var usuario = 
                    {
                        'Nome': $("#nome-usuario").val(),
                        'Email': $("#email-usuario").val(),
                        'Senha': $("#senha-usuario").val(),
                        'SenhaRepeticao': $("#senha-repeticao-usuario").val()
                    }

                    console.log(usuario)

                    if (usuario.Senha === usuario.SenhaRepeticao)
                        requisicao.post("cadastrar", usuario, SucessoCadastro, FalhaCadastro)
                    else
                        FalhaCadastro("As senhas não são iguais.")
                }
            }

            function SucessoCadastro()
            {
                console.log("Sucesso Feliz")
            }

            function FalhaCadastro(mensagemErro)
            {
                console.log(mensagemErro)
            }

            function PreenchimentoValido(campos)
            {
                var valido = true;

                campos.forEach(function (identificador)
                {
                    if ($(identificador).hasClass('alert-validate'))
                        valido = false;
                })

                return valido;
            }
        </script>

    </body>
</html>