<!DOCTYPE html>
<html lang="en">
    
<head>
	<title>Unity - Login</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<link rel="stylesheet" type="text/css" href="public/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="public/login/css/main.css">
    
</head>

<body>
	<div class="container-login100" style="background-image: url('public/login/imagens/fundo.jpg');">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form">

				<span class="login100-form-title p-b-37">Olá, seja bem vindo</span>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Digite seu e-mail">
					<input class="input100" type="email" name="username" placeholder="Email">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "Digite sua senha">
					<input class="input100" type="password" name="pass" placeholder="Senha">
					<span class="focus-input100"></span>
				</div>

				<div class="container-login100-form-btn">
                    <button type="submit" formaction="cadastro-sentimento" class="login100-form-btn">
                            Logar
                    </button>
				</div>

				<div class="text-center p-t-57 p-b-20">
					<span class="txt1">
					</span>
				</div>

				<div class="text-center">
					<a href="cadastro-usuario" class="txt2 hov1">
						Cadastre-se!
					</a>
				</div>
			</form>
			
		</div>
	</div>
	<div id="dropDownSelect1"></div>
	
    <script src="script/jquery/dist/jquery.min.js"></script>
</body>
</html>