<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Unity</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="public/menu.css"/>
        <link rel="stylesheet" type="text/css" href="public/cadastro-sentimento/css/forms.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" type="text/css" href="script/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link  rel="stylesheet" type="text/css" href="script/toastr/build/toastr.min.css"/>
        
    </head>
    <body>
        <div class="ct" id="t1">
        <div class="ct" id="t2">
            <div class="ct" id="t3">
            <div class="ct" id="t4">
                <div class="ct" id="t5">
                <ul id="menu" >
                    <p style="margin: 20%; font-size: 13px; color: white">Id: <span id="id-usuario">39c52941</span></p>
                    <a href="#t1"><li class="row icon fa fa-table" style="margin: 50%; font-size: 50px" id="uno"></li></a>
                    <a href="#t2"><li class="row icon fa fa-keyboard-o" style="margin: 50%; font-size: 50px" id="dos"></li></a>
                    <a href="#t3"><li class="row icon fa fa-gratipay" style="margin: 50%; font-size: 50px" id="tres"></li></a>
                    <a href="#t4"><li class="row icon fa fa-address-book" style="margin: 50%; font-size: 50px" id="cuatro"></li></a>
                    <a href="#t5"><li class="row icon fa fa-plus-circle" style="margin: 50%; font-size: 50px" id="cinco"></li></a>
                </ul>
                <div class="page" id="p1">
                    <section class="icon fa fa-bolt"><span class="title">Gráficos</span><span class="hint">...<br></span></section>  
                </div>
                <div class="page" id="p2">
                    <section class="container" style="margin: 5% 5% auto; background-color: white; color: black">
                        <form>
                            <div class="col-sm-8" ><h2>Registro de <b>Ocorrencias</b></h2></div>
                            <div class="form-group">
                                <label for="inputAddress">Data do ocorrido:</label>
                                <input type="date" class="form-control" id="registro-data" placeholder="1234 Main St">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea2">Descreva o ocorrido:</label>
                                <textarea class="form-control rounded-0" id="registro-ocorrido" rows="3"></textarea>
                            </div>
                             <div class="form-group">
                                <label for="exampleFormControlTextarea2">Descreva suas acoes:</label>
                                <textarea class="form-control rounded-0" id="registro-acoes" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea2">Descreva seus pensamentos:</label>
                                <textarea class="form-control rounded-0" id="registro-pensamentos" rows="3"></textarea>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputCity">Sentimento:</label>
                                    <select id="registro-sentimento" class="form-control">
                                        <option selected>Selecione...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputState">Humor:</label>
                                    <select id="registro-humor" class="form-control">
                                        <option selected>Selecione...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                            </div>
                            
                            <button onclick="SalvaOcorrencia()" class="btn btn-primary">Salvar dados</button>
                        </form>
                    </section>
                </div>  
                <div class="page" id="p3">
                    <section>
                        <div class="container" style="margin: 17% 10% 10% 5%; color: gray">
                            <div class="table-wrapper">
                                <div class="table-title">
                                    <div class="row">
                                        <div class="col-sm-8"><h2>Detalhes de <b>Sentimentos Personalizados</b></h2></div>
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-info novo-sentimento"><i class="fa fa-plus"></i> Novo<button>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered" id="tabela-sentimentos">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Escala</th>
                                            <th>Acoes</th>
                                        </tr>

                                         <tr>
                                            <td>Preguica</td>
                                            <td>6</td>
                                            <td>
                                                <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                                                <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                                <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                               
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="page" id="p4">
                    <section>
                        <div class="container" style="margin: 17% 10% 10% 5%; color: gray">
                            <div class="table-wrapper">
                                <div class="table-title">
                                    <div class="row">
                                        <div class="col-sm-8"><h2>Detalhes de <b>Humores Personalizados</b></h2></div>
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-info novo-humor"><i class="fa fa-plus"></i> Novo<button>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered" id="tabela-humor">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Escala</th>
                                            <th>Acoes</th>
                                        </tr>
                                         <tr>
                                            <td>Ansiedade</td>
                                            <td>4</td>
                                            <td>
                                                <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                                                <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                                <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div> 
                <div class="page" id="p5">
                    <section class="icon fa fa-plus-circle">
                    <span class="title">Alguma outra coisa...</span>
                    <p class="hint">
                        <span></span><br/>
                        <a href="https://codepen.io/hrtzt/details/pgXMYb/" target="_blank"></a>
                    </p>
                    </section>
                </div> 
                </div>
            </div>
            </div>
        </div>
        </div>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="public/cadastro-sentimento/js/humorPersonalizado.js"></script>
    <script src="public/requisicao.js"></script>
    <script src="public/cadastro-sentimento/js/sentimentoPersonalizado.js"></script>
    <script src="script/toastr/build/toastr.min.js"></script>

    <script>
        window.onload = Inicializa

        function Inicializa() {
            ObtemHumores()
            ObtemSentimentos()
        }

        function ObtemHumores() {
            var preencheLista = (humores) => {
                humores.forEach(humor => {
                    $('#registro-humor').append('<option value="'+ humor.Id +'">'+ humor.Descricao +'</option>');
                })
            }

            get('/humor', { }, preencheLista, MensagemErro)
        }

        function ObtemSentimentos() {
            var preencheLista = (sentimentos) => {
                sentimentos.forEach(sentimento => {
                    $('#registro-sentimento').append('<option value="'+ sentimento.Id +'">'+ sentimento.Descricao +'</option>');
                })
            }

            get('/sentimento', { }, preencheLista, MensagemErro)
        }

        function SalvaOcorrencia() {
            var campos = []

            if (PreenchimentoValido(campos)) {
                var ocorrencia = {
                    'Data' : $('#registro-data').val(),
                    'Descricao' : $('#registro-ocorrido').val(),
                    'Acoes' : $('#registro-acoes').val(),
                    'Pensamentos' : $('#registro-pensamentos').val(),
                    'Paciente' : $('#id-usuario').text(),
                    'Humor' : $('#registro-humor').val(),
                    'Sentimento' : $('#registro-sentimento').val()
                }

                console.log(ocorrencia)

                post('/ocorrencia', ocorrencia, SucessoInsercao, MensagemErro)
            }
            else {
                MensagemErro('Preencha todos os campos antes de prosseguir.')
            }
        }

        function SucessoInsercao() {
            MensagemSucesso('Ocorrencia inserida com sucesso!')
            LimpaOcorrencia()
        }

        function LimpaOcorrencia() {
            $('#registro-data').val('') 
            $('#registro-ocorrido').val('')
            $('#registro-acoes').val('')
            $('#registro-pensamentos').val('')
            $('#id-usuario').val('')
            $('#registro-humor').val('')
            $('#registro-sentimento').val('')
        }

        function PreenchimentoValido(campos) {
            return true
        }

        function MensagemSucesso(mensagem) {
            toastr.success(mensagem)
        }

        function MensagemErro(mensagem) {
            toastr.error(mensagem)
        }
    </script>
</html>
